<div class="FileUploadPopup" @dragover.prevent @drop.prevent>
	<div class="title_area">
		<p class="title">File Upload</p>
	</div><!-- title_area -->
	<div class="drag_area">
		<div class="drag_box" @dragover.prevent @drop.prevent="onDroppable($event)">
			<p>변경할 파일을 여기에 드래그 하시거나, 클릭해주세요</p>
			<button class="btn bg_grey" type="button">외부 서비스 (OVP, Youtube) 파일 추가</button>
		</div><!-- drag-box -->
		<p class="description">(한번에 20개 이상 파일 업로드 불가, 1회 파일 사이즈 최대 10MB 초과 불가)</p>
	</div><!-- drag-area -->
	<div class="upload_list_area">
		<ul>
			<li :class="{complete:list.loadedComplete}" v-for="(list, i) in uploadList">
				<div class="img"><img :src="list.thumbnail" /></div>
				<div class="file_name">{{list.fileName}}</div>
				<div class="line_bar">
					<p class="line_bar_group">
						<span class="gauge" :style="{width:list.progress + '%'}"></span>
					</p><!-- line_bar_group -->
				</div><!-- line_bar -->
				<div class="status"><span class="progress">{{list.progress | progressStatus}}<i v-show="!list.loadedComplete">%</i></span></div>
				<div class="delete"><button @click="onDeleteClick(i)" class="btn_delete fa fa-times" type="button"></button></div>
			</li>
		</ul>
	</div><!-- upload_list_area -->
	<div class="tbl_form gbl_width-100p">
			<div class="keyword_area">
				<div>Keyword</div>
				<div>
					<Tag></Tag>
				</div>
			</div><!-- keyword_area -->
			<div class="description_area">
				<div>Description</div>
				<div><textarea style="resize: none;" rows="6" placeholder="설명내용을 출력하는 공간입니다…"></textarea></div>
			</div><!-- description_area -->
	</div><!-- tbl_form -->
	<div class="button_area">
		<div class="right">
			<a href="#" class="btn bg_violet">Save</a>
			<a href="#" class="btn bg_grey">Cancel</a>
		</div><!-- right -->
	</div><!-- button_area -->
</div><!-- FileUploadPopup -->