<div class="ImageUploadPopup" @dragover.prevent @drop.prevent>
	<div class="title_area">
		<span class="type">[Image]</span>
		<span class="name">video.mp4 : </span>
		<span class="state">수정중</span>
	</div>
	<div class="tbl_form gbl_width-100p">
		<div class="upload_area">
			<div>
				<img :src="src" />
				<p class="file_name">{{fileName}}</p>
			</div>
			<div @dragover.prevent @drop.prevent="onDroppable($event)">
				<span class="drag_area">변경할 파일을 여기에 드래그 하시거나, 클릭해주세요</span>
			</div>
		</div>
		<div class="keyword_area">
			<div>Keyword</div>
			<div>
				<Tag :tag-list="['tag1', 'tag2']"></Tag>
			</div>
		</div>
		<div class="description_area">
			<div>Description</div>
			<div><textarea style="resize: none;" rows="6" placeholder="현재 등록된 설명 정보를 수정합니다."></textarea></div>
		</div>
	</div>
	<div class="button_area">
		<div class="left">
			<a href="#" class="btn bg_red btn_delete">Delete</a>
		</div><!-- left -->
		<div class="right">
			<a href="#" class="btn bg_violet btn_download">Save</a>
			<a href="#" class="btn btn_close">Cancel</a>
		</div><!-- right -->
	</div><!-- button_area -->
</div><!-- ImageUploadPopup -->