<div class="ImageUploadPopup">
	<div class="title_area">
		<span class="type">[Image]</span>
		<span class="name">video.mp4 : </span>
		<span class="state">수정중</span>
	</div>
	<table class="tbl_form gbl_width-100p">
		<colgroup>
			<col style="width: 220px" />
			<col style="" />
		</colgroup>
		<tbody>
			<tr class="upload_area">
				<th style="padding-top:0">
					<img src="/static/images/service/img02.gif" />
					<p class="file_name">IMG_2046.JPG</p>
				</th>
				<td style="padding-top:0">
					<span class="drag_area">변경할 파일을 여기에 드래그 하시거나, 클릭해주세요</span>
				</td>
			</tr>
			<tr class="keyword_area">
				<th>Keyword</th>
				<td>
					<p><input style="width:330px" placeholder="태그를 입력하고 엔터를 치세요" type="text" /><button class="btn_add_tag fa fa-plus" type="button"></button></p>
					<div class="tags">
						<ul>
							<li>태그명 1</li>
							<li>태그명 2</li>
							<li>태그명 3</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr class="description_area">
				<th>Description</th>
				<td><textarea style="resize: none;" rows="6" placeholder="현재 등록된 설명 정보를 수정합니다."></textarea></td>
			</tr>
		</tbody>
	</table>
	<div class="button_area">
		<div class="left">
			<a href="#" class="btn bg_red btn_delete">Delete</a>
		</div><!-- left -->
		<div class="right">
			<a href="#" class="btn bg_violet btn_download">Save</a>
			<a href="#" class="btn btn_close">Cancel</a>
		</div><!-- right -->
	</div><!-- button_area -->
</div><!-- ImageUploadPopup -->