<div class="ViewPopup">
	<div class="title_area">
		<p class="title">{{title}}</p>
	</div><!-- title_area -->
	<div class="cont_area">

		<img
			v-if="contentType=='image'"
			class="img" 
			src="/static/images/service/img01.png" 
			alt="title" 
		/>
		
		<video-player 
			v-if="contentType=='video'"
		>
		</video-player>

		<a @click.prevent="prevClick" class="btn_prev fa fa-angle-left" href="#" title="이전" alt="이전"></a>
		<a @click.prevent="nextClick" class="btn_next fa fa-angle-right" href="#" title="다음" alt="다음"></a>
	</div><!-- cont_area -->
	<div class="detail_area">
		<div class="tbl gbl_width-100p tbl_detail">
			<div>
				<div class="detail_text">설명 내용을 출력하는 공간입니다.</div>
				<div class="tags" alt="태그 목록">
					<ul>
						<li>태그명 1</li>
						<li>태그명 2</li>
						<li>태그명 3</li>
					</ul>
				</div>
			</div>
			<div>
				<div class="file_info" alt="파일 정보">
					<dl>
						<dt>확장자 : </dt>
						<dd>JPG</dd>
					</dl>
					<dl>
						<dt>파일 사이즈 : </dt>
						<dd>846kb</dd>
					</dl>
					<dl>
						<dt>규격 : </dt>
						<dd>1024x768</dd>
					</dl>
				</div>
				<div class="update" alt="업데이트 정보">
					<dl>
						<dt>Last updated</dt>
						<dd>2017.5.11</dd>
						<dd>12:32:43</dd>
					</dl>
				</div>
			</div>
		</div><!-- tbl_detail -->
	</div><!-- detail_area -->
	<div class="button_area">
		<div class="left">
			<a href="#" class="btn bg_violet btn_modify" alt="수정">Modify</a>
			<a href="#" class="btn bg_red btn_delete" alt="삭제">Delete</a>
		</div><!-- left -->
		<div class="right">
			<a href="#" class="btn bg_violet btn_download" alt="다운로드"><img class="mr10" src="/static/images/service/ico_download.gif" alt="download icon" />Download</a>
			<a href="#" class="btn btn_close" alt="팝업 닫기">Close</a>
		</div><!-- right -->
	</div><!-- button_area -->
</div><!-- ViewPopup -->